<div>
    <h2 class="mb-3">Te damos la bienvenida a PIC</h2>

    <h3 class="mb-5">Tus modulos más usados</h3>

    <div class="card mb-3 pic-dashboard-card">
        <div class="card-body">
            <i class="bi bi-coin card-icon"></i>
            <div class="pic-card-inner">
                <h5 class="card-title">Cartera castigada</h5>
                <p class="card-text">Aplicaciones de pagos y reversiones</p>
                <i class="bi bi-chevron-right card-go"></i>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-subtitle">Otros modulos</h5>
            <ul class="list-group">
                <li class="list-group-item"> <span class="list-group-icon">D</span> Declaración tributaria</li>
            </ul>
        </div>
    </div>
</div>
