<div>
    <h2 class="mb-5">Te damos la bienvenida a PIC</h2>

    <h3 class="mb-3">Tus modulos más usados</h3>

    <div class="pic-card-container">
        <div class="card pic-dashboard-card">
            <div class="card-body">
                <i class="bi bi-coin card-icon"></i>
                <div class="pic-card-inner">
                    <h5 class="card-title">Cartera castigada</h5>
                    <p class="card-text">Aplicaciones de pagos y reversiones</p>
                    <i class="bi bi-chevron-right card-go"></i>
                </div>
            </div>
        </div>
    
        <div class="card pic-dashboard-card">
            <div class="card-body">
                <i class="bi bi-graph-up-arrow card-icon"></i>
                <div class="pic-card-inner">
                    <h5 class="card-title">Cartera castigada</h5>
                    <p class="card-text">Información financiera</p>
                    <i class="bi bi-chevron-right card-go"></i>
                </div>
            </div>
        </div>
    
        <div class="card pic-dashboard-card">
            <div class="card-body">
                <i class="bi bi-clipboard2-check card-icon"></i>
                <div class="pic-card-inner">
                    <h5 class="card-title">Cartera castigada</h5>
                    <p class="card-text">Condiciones de desembolso</p>
                    <i class="bi bi-chevron-right card-go"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="card pic-modules-card">
        <div class="card-body">
            <h5 class="card-subtitle">Otros modulos</h5>
            <ul class="list-group pic-modules-list">
                <li class="list-group-item pic-modules-item"> <span class="list-group-icon green">D</span> Declaración tributaria</li>
                <li class="list-group-item pic-modules-item"> <span class="list-group-icon pink">D</span> Informe DIAN</li>
                <li class="list-group-item pic-modules-item"> <span class="list-group-icon yellow">D</span> Paz y Salvo</li>
                <li class="list-group-item pic-modules-item"> <span class="list-group-icon lime">D</span> Certificación de negociación</li>
                <li class="list-group-item pic-modules-item"> <span class="list-group-icon green">D</span> Matriz de otorgamiento</li>
            </ul>
        </div>
    </div>
</div>
