<div class="min-vh-100 loginbg">
    <div class="row min-vh-100 align-middle">
        <div class="col-sm-9 col-md-5 col-lg-4 mx-auto ">
            <div class="card border-0 shadow rounded-3 my-6 top-50 start-50 translate-middle">
                <div class="card-body p-5 p-sm-5">
                    <img class="img-fluid mb-5 mt-5" height="60" src="assets/img/logo.png"
                        alt="PIC Promotora Inversiones y Cobranzas">
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="usuario">
                            <label for="floatingInput">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                            <label for="floatingPassword">Contraseña</label>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-login fw-normal" type="submit" routerLink="/pic">Iniciar sesión</button>
                        </div>
                        <div class="form-check mb-3 text-center fs-6">
                            <input class="form-check-input float-none" type="checkbox" value=""
                                id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                                Mantener mi sesión <span class="fw-bold">abierta</span>
                            </label>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>