<div>
    <h2 class="mb-3">Liquidación de creditos</h2>

    <form>
        <div class="mb-3">
          <label for="searchInput" class="form-label">Buscar por número de credito</label>
          <input type="search" class="form-control search-input" id="searchInput">
        </div>
    </form>

    <div class="card card-full mb-3">
        <div class="card-header mt-5">Información del crédito</div>
        
        <div class="card-body">
            <div class="card-two-cols">
                <div class="card-two-cols-col">
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Nombre</span> 
                        <span class="card-text-text">Palomino Snateliz Nancy</span>
                    </p>
        
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Periocidad</span> 
                        <span class="card-text-text">Mensual</span>
                    </p>
        
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Deuda a la fecha</span> 
                        <span class="card-text-text">$45'987.765,00</span>
                    </p>
                </div>

                <div class="card-two-cols-col">
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Identificación</span> 
                        <span class="card-text-text">7.680.826.374</span>
                    </p>
        
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Fecha saldo</span> 
                        <span class="card-text-text">Diciembre 4 2022</span>
                    </p>
        
                    <p class="card-text card-text-sm">
                        <span class="card-text-title">Intereses corrientes seg sin amortización</span> 
                        <span class="card-text-text">0.5</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-full mb-3">
        <div class="card-header">Liquidación del crédito</div>
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill" style="font-weight: bold;">Cuota</li>
                <li class="list-group-item flex-fill">3</li>
                <li class="list-group-item flex-fill">0</li>
                <li class="list-group-item flex-fill">0</li>
                <li class="list-group-item flex-fill">0</li>
                <li class="list-group-item flex-fill">4</li>
            </ul>

            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill" style="font-weight: bold;">Fecha</li>
                <li class="list-group-item flex-fill">-</li>
                <li class="list-group-item flex-fill">-</li>
                <li class="list-group-item flex-fill">-</li>
                <li class="list-group-item flex-fill">-</li>
                <li class="list-group-item flex-fill">-</li>
            </ul>
        </div>
    </div>

    <div class="card card-full mb-3">
        <div class="card-header">Liquidación de mora</div>
        <div class="card-body">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill" style="font-weight: bold;">Plazo</li>
                <li class="list-group-item flex-fill">-</li>
            </ul>
        </div>
    </div>
</div>
